@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
    @apply w-full rounded-xl border border-slate-200 px-3 py-2 text-sm outline-none
    focus:ring-2 focus:ring-violet-200 focus:border-violet-400;
}
